<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome to Dinotopia!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <h1>Our Dino's!</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Genus</th>
                        <th>Size</th>
                        <th>Enclosure</th>
                        <th>Accepting Visitors</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Daisy</td>
                        <td>Velociraptor</td>
                        <td>Small</td>
                        <td>Paddock A</td>
                        <td>Yes!</td>
                    </tr>
                    <tr>
                        <td>Bumpy</td>
                        <td>Triceratops</td>
                        <td>Medium</td>
                        <td>Paddock B</td>
                        <td>Not right now</td>
                    </tr>
                    <tr>
                        <td>Big Eaty</td>
                        <td>Tyrannosaurus</td>
                        <td>Large</td>
                        <td>Paddock C</td>
                        <td>Not right now</td>
                    </tr>
                    <tr>
                        <td>Maverick</td>
                        <td>Pterodactyl</td>
                        <td>Small</td>
                        <td>Aviary 1</td>
                        <td>Not right now</td>
                    </tr>
                    <tr>
                        <td>Dennis</td>
                        <td>Dilophosaurus</td>
                        <td>Medium</td>
                        <td>Paddock B</td>
                        <td>Not right now</td>
                    </tr>
                </tbody>
            </table>
        {% endblock %}

        {{ dump(sick_dinos) }}
    </body>
</html>
